<main>
  <div class="position-relative">
    <!-- shape Hero -->
    <section class="section section-lg section-shaped pb-250">
      <div class="shape shape-style-1 shape-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
    <!-- 1st Hero Variation -->
  </div>
  <section class="section section-lg pt-lg-0 mt--200">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="row row-grid">
            <div class="col-lg-6">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <div class="icon icon-shape icon-shape-primary rounded-circle mb-4">
                    <i class="ni ni-check-bold"></i>
                  </div>
                  <h6 class="text-primary text-uppercase">Mision</h6>
                  <p class="description mt-1">TecWave es una empresa especializada en la creación de tecnología innovadora de vanguardia, enfocada en buscar soluciones ideales a los problemas sociales, a nuestra calidad de vida, entre otros aspectos sociales. 
                    Nuestra misión es lograr un impacto significativo en la sociedad logrando avances considerablemente esenciales hacia los distintos sectores de una sociedad globalizada.  
                    .</p>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <div class="icon icon-shape icon-shape-success rounded-circle mb-4">
                    <i class="ni ni-istanbul"></i>
                  </div>
                  <h6 class="text-success text-uppercase">Visión </h6>
                  <p class="description mt-1">TecWave aspira a poder ser un líder en tecnología accesible a la sociedad para lograr un bienestar en común.  Nos comprometemos a hacer un buen uso de nuestras capacidades cognitivas para lograr resolver los desafíos más alarmantes qué sufre nuestro planeta y crear un mejor futuro para todos.</p>
                  <br>
                </div>
              </div>
            </div>
          </div>
          <div class="row row-grid">
            <div class="col-lg-12">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <div class="icon icon-shape icon-shape-warning rounded-circle mb-4">
                    <i class="ni ni-planet"></i>
                  </div>
                  <h6 class="text-warning text-uppercase">Valores</h6>
                  <div>
                    <span class="badge badge-pill badge-warning">Innovación</span>
                  </div>
                  <p class="description mt-1">Nos comprometemos a la innovación y actualización constante qué sufre la tecnología para lograr que nuestros productos y servicios siempre estén vanguardia.</p>
                  <div>
                    <span class="badge badge-pill badge-warning">Sostenibilidad</span>
                  </div>
                  <p class="description mt-1">Somos creyentes qué la tecnología se debe usar de una manera responsable y reutilizable para lograr nuestra huella de carbono.</p>
                  <div>
                    <span class="badge badge-pill badge-warning">Trabajo competitivo</span>
                  </div>
                  <p class="description mt-1">Trabajamos en una estrecha colaboración con nuestros integrantes actuales a la empresa y los posibles futuros integrantes y colaboradores relacionados.</p>
                  <div>
                    <span class="badge badge-pill badge-warning">Competitividad</span>
                  </div>
                  <p class="description mt-1">Nos comprometemos a una competitividad sana y libre de prejuicios, siempre ofreciendo lo mejor para los consumidores. </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
