<main>
    <div class="position-relative">
    <!-- shape Hero -->
    <section class="section section-lg section-shaped">
        <div class="shape shape-style-1 shape-default">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <!-- SVG separator -->
        <div class="separator separator-bottom separator-skew">
            <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
            </svg>
        </div>
    </section>
    <!-- 1st Hero Variation -->
    </div>
    <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8 text-center">
            <h2 class="display-3">¿Qué es?</h2>
            <p class="lead">
                La estación meteorológica IOT como su nombre lo indica es una estación meteorológica que es capaz de conectarse a internet y mediante una aplicación puedes monitorear los datos registrados por la estación en tiempo real.<br><br>
            </p>

            <h2 class="display-3">¿Cómo funciona?</h2>
            <p class="lead">
                Como uno de los sectores para el que está pensado es para el agrícola y en el campo no hay internet la estación funciona con una antena la cual envía los datos a un receptor el cual si se encontrará conectado a internet y será este el encargado de subir los datos para poder visualizarlos desde cualquier lugar.<br><br>
            </p>


            <h2 class="display-3">¿Qué ofrece?</h2>
            <p class="lead">
                •	Nuestra estación meteorológica utiliza IA para analizar datos en tiempo real y mejorar la precisión de las predicciones meteorológicas.<br>
                •	Nuestra estación se integra fácilmente con dispositivos y aplicaciones inteligentes a través de IoT, lo que permite a los usuarios acceder a los datos de manera remota y recibir actualizaciones en tiempo real.<br>
                •	Ofrecemos un sólido soporte técnico y actualizaciones regulares para mantener la estación en óptimas condiciones y adaptada a los cambios climáticos y tecnológicos.<br>
                •	Especialización en dispositivos IoT, con una amplia gama de productos y soluciones IoT que abarcan varios sectores, como el hogar inteligente, la industria y la salud.<br>
                •	Enfoque sólido en la seguridad y la privacidad de los datos, implementando medidas robustas para proteger la información sensible de los clientes.<br>
                
            </p>
          </div>
        </div>
      </div>
</main>