<main>
  <div class="position-relative">
    <!-- Hero for FREE version -->
    <section class="section section-lg section-hero section-shaped">
      <!-- Background circles -->
      <div class="shape shape-style-1 shape-primary">
        <span class="span-150"></span>
        <span class="span-50"></span>
        <span class="span-50"></span>
        <span class="span-75"></span>
        <span class="span-100"></span>
        <span class="span-75"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
      </div>
      <div class="container shape-container d-flex align-items-center">
        <div class="col px-0">
          <div class="row align-items-center justify-content-center">
            <div class="col-lg-6 text-center">
              <img src="./assets/img/brand/LogoElegido.png" style="width: 400px;" class="img-fluid">
              <p class="lead text-white">Descargar ya nuestra aplicación o inicia seción para visualizar las lecturas de tu estación meteorelogica IOT en tiempo real desde cualquer lugar</p>
              <div class="btn-wrapper mt-5">
                <a href="" class="btn btn-lg btn-twitter btn-icon mb-3 mb-sm-0">
                  <span class="btn-inner--icon"><i class="ni ni-cloud-download-95"></i></span>
                  <span class="btn-inner--text">Descargar</span>
                </a>
                <a href="https://juanmglez.github.io/login" class="btn btn-lg btn-white btn-icon mb-3 mb-sm-0" target="_blank">
                  <span class="btn-inner--icon"><i class="fa fa-sign-in"></i></span>
                    <span class="btn-inner--text">Iniciar seción</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
          <h2 class="display-3">Conoce sobre nuestra estación meteorologica</h2>
          <p class="lead">
            La estación meteorologica IOT aprovecha las capacidades de Internet de las Cosas (IoT) para recopilar datos meteorológicos en tiempo real y proporcionar información valiosa para diversas aplicaciones.
          </p>

          <div class="btn-wrapper">
            <a [routerLink]="['/Iot']"  role="button" class="btn btn-default mt-3 mt-md-0">Conocer más</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>